<div class="jumbotron transparent">
  <div class="container">
    <h1>Welcome <small>Admin!</small></h1>
    <p><big>Showing all merks</big></p>
  </div>
</div>

<div class="container">
  <%= link_to "Product", products_path, :class => "btn btn-primary right" %>
  <%= link_to "Add new merk", new_merk_path, :class => "btn btn-primary right" %>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Thumbnail</th>
      <th>Action</th>
    </tr>
    <% @merks.each do |merk| %>
      <tr>
        <td><%= merk.name %></td>
        <td><%= image_tag(merk.background.thumb.url) %></td>
        <td>Edit</td>
      </tr>
    <% end %>
  </table>
</div>