<div class="jumbotron transparent">
  <div class="container">
    <h1>Welcome <small>to our site</small></h1>
    <p><big>Gereja Baptis Indonesia Baitlahim Bandung</big> dimulai pada tahun 1954 di rumah anggota Gereja Baptis Pertama Bandung, Diakon Mathias..</p>

    <!-- Button trigger modal -->
    <p><a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Show more</a></p>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">Gereja Baptis Indonesia Baitlahim Bandung</h3>
          </div>
          <div class="modal-body">
            <p class="text-justify lead"><strong>Gereja Baptis Indonesia Baitlahim Bandung</strong> dimulai pada tahun 1954 di rumah anggota Gereja Baptis Pertama Bandung, Diakon Mathias. Pelayanan di mulai dengan pelayanan Sekolah Minggu di Jl. Jendral Sudirman oleh Bapak dan Ibu Diakon Mathias bersama beberapa orang guru Sekolah Minggu dari Gereja Baptis Pertama Bandung. Kehadiran Sekolah Minggu pada saat itu di hadiri rata-rata 40 orang anak. Pelayanan ini terus berkembang pesat sehingga membuat tempat pelayanan tidak mencukupi lagi.</p>
          </div>
          <div class="modal-footer">
            <%= link_to "About us", "about_us_homes_path", :class => "btn btn-primary" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>