
  <div id="slides">
    <% if @slides && @slides.count > 1 %>      
      <% @slides.each do |slide| %>
        <%= image_tag slide.image_url %>
      <% end %>
    <% else %>
      <% @groups.merks.each do |merk| %>
        <%= image_tag merk.background_url %>
      <% end %>
    <% end %>
  </div>

<div class="container">
  <div class="col-md-5">
  </div>
  <div class="col-md-6">
    <%= video_tag "grand_shyra.mp4", controls: true, width: 480 %>
  </div>
  <div class="col-md-1">
    <% video_tag "balmut_fata_imajinasi.mp4", controls: true, width: 480 %>
  </div>
</div>

<script>
  $(function() {
    $('#slides').slidesjs({
      width: 1024,
      height: 350,
      play: {
        active: true,
        auto: true,
        interval: 4000,
        swap: true
      }
    });
  });
</script>