<!--div class="jumbotron transparent">
  <div class="container">
    <h1>Welcome <small>to our site</small></h1>
    <p><big>Fata Seprei Bandung</big> dimulai pada tahun </p>

    <p><a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Show more</a></p>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">Fata Seprei Bandung</h3>
          </div>
          <div class="modal-body">
            <p class="text-justify lead"><strong>Fata Seprei Bandung</strong> dimulai pada tahun ...</p>
          </div>
          <div class="modal-footer">
            <%#= link_to "About us", "", :class => "btn btn-primary" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div-->