<style type="text/css">
  body {
  background: url(<%= @product.merk.background_url %>) no-repeat fixed;
  background-position: right bottom;
  background-color: #eee;
}
</style>
<script type="text/javascript">
  function changeImage(id){
    $.ajax({      
      url: '/products/get_product?id='+id,
      type:'get',
      data: {
      },
      success: function( data ) {
      },
      error: function( data ){
      }
    });
  }
</script>

  <div class="container">
    <!--h1><% @product.name %></h1-->
    <div id="show_image">
      <%= image_tag(@product.image_url, :class => "content_box1") %>
    </div>

    <div class="row">
      <% products = load_products(@product.merk_id) %>
      <div class="col-md-12" style="overflow: auto; height: 120px;">
        <% count = 0 %>
        <% products.each do |product| %>
        <% count += 1 %>
          <div class="content_box2">
            <%#= link_to image_tag(product.image.thumb.url), product_path(id: product.id) %>
            <%= link_to image_tag(product.image.thumb.url), "javascript:void(0);", onclick: "changeImage(#{product.id})" %>
          </div>
            <% if count == 8 %>
            <div class="clear"></div>
            <% count = 0 %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>