<style type="text/css">
  body {
  background: url(<%= @product.merk.background_url %>) no-repeat fixed;
  background-position: left;
  background-position: top;
  background-color: #eee;
}
</style>

<div class="jumbotron transparent">
  <div class="container">
    <!--h1><% @product.name %></h1-->
    <%= image_tag(@product.image_url, :class => "content_box1") %>
  </div>

  <div class="row">
    <% merk = @product.merk %>
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10" style="overflow: auto; height: 120px;">
      <% count = 0 %>
      <% merk.products.each do |product| %>
      <% count += 1 %>
        <div class="content_box2">
          <%= link_to image_tag(product.image.thumb.url), product_path(id: product.id) %>
        </div>
          <% if count == 14 %>
          <br/>
          <% count = 0 %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-1">&nbsp;</div>
  </div>
</div>